database:
    driver: pdo_pgsql
    host: localhost
    port: 5432
    dbname: ~
    user: ~
    password: ~

old_database:
    driver: mysql
    host: localhost
    port: 3306
    dbname: ~
    user: ~
    password: ~

old_system_path: ~

provisional_file: ~

notValidMembers: []

gdrive:
    client_address: ~
    private_key: ~
    user_address: ~
    storage_folder: ~
